absl-py==1.4.0
addict==2.4.0
albumentations==1.3.1
aliyun-python-sdk-core==2.13.36
aliyun-python-sdk-kms==2.16.2
bleach==6.0.0
cachetools==5.3.1
certifi==2023.7.22
cffi==1.15.1
charset-normalizer==3.2.0
click==8.1.7
cmake==3.25.0
colorama==0.4.6
connected-components-3d==3.12.3
contourpy==1.1.0
crcmod==1.7
cryptography==41.0.4
cycler==0.11.0
einops==0.6.1
exhaustive-weighted-random-sampler==0.0.2
fastremap==1.14.0
filelock==3.9.0
fonttools==4.42.0
fsspec==2023.6.0
google-auth==2.23.0
google-auth-oauthlib==1.0.0
grpcio==1.58.0
h5py==3.9.0
huggingface-hub==0.16.4
idna==3.4
imageio==2.31.1
importlib-metadata==6.8.0
iterative-stratification==0.1.7
Jinja2==3.1.2
jmespath==0.10.0
joblib==1.3.2
kaggle==1.5.16
kiwisolver==1.4.4
lazy_loader==0.3
lit==15.0.7
Markdown==3.4.4
markdown-it-py==3.0.0
MarkupSafe==2.1.2
matplotlib==3.7.2
mdurl==0.1.2
mmcv==1.3.14
mmengine==0.8.4
model-index==0.1.11
monai==1.2.0
mpmath==1.2.1
networkx==3.0
nibabel==5.1.0
numpy==1.25.2
oauthlib==3.2.2
opencv-python==4.8.0.76
opencv-python-headless==4.8.0.76
opendatalab==0.0.10
openmim==0.3.9
openxlab==0.0.25
opt-einsum==3.3.0
ordered-set==4.1.0
oss2==2.17.0
packaging==23.1
pandas==2.0.3
Pillow==10.0.0
platformdirs==3.10.0
protobuf==3.20.1
psutil==5.9.5
py-cpuinfo==9.0.0
pyarrow==12.0.1
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycocotools==2.0.7
pycparser==2.21
pycryptodome==3.19.0
pydicom==2.4.2
Pygments==2.16.1
pyparsing==3.0.9
python-dateutil==2.8.2
python-slugify==8.0.1
pytz==2023.3
PyWavelets==1.4.1
PyYAML==6.0.1
qudida==0.0.4
requests==2.28.2
requests-oauthlib==1.3.1
rich==13.4.2
rsa==4.9
safetensors==0.3.2
scikit-image==0.21.0
scikit-learn==1.3.0
scipy==1.11.1
seaborn==0.12.2
SimpleITK==2.2.1
six==1.16.0
sympy==1.11.1
tabulate==0.9.0
tensorboard==2.14.0
tensorboard-data-server==0.7.1
termcolor==2.3.0
text-unidecode==1.3
threadpoolctl==3.2.0
tifffile==2023.8.12
timm==0.9.5
tomli==2.0.1
torch==2.0.1+cu118
torchaudio==2.0.2+cu118
torchvision==0.15.2+cu118
tqdm==4.65.0
triton==2.0.0
typing_extensions==4.4.0
tzdata==2023.3
ultralytics==8.0.180
urllib3==1.26.16
webencodings==0.5.1
Werkzeug==2.3.7
yapf==0.40.2
zipp==3.17.0
